version: "3.9"

services:
  employee-portal:
      
    image: shivpandat/employee-portal-image:latest
    container_name: employee-portal-container
    ports:
      - "5000:5000"

    # --- PHASE 4 CHANGE: VOLUMES REMOVED ---
    # In Phase 3, we mounted './Data' for persistence.
    # In Phase 4, the app is STATELESS.
    # - Resumes -> AWS S3
    # - Data -> AWS RDS
    # If this container crashes, we lose nothing.
    
    restart: unless-stopped
    
    # --- PHASE 4 CHANGE: ENVIRONMENT VARIABLES ---
    # We now inject config explicitly for Cloud Connectivity
    environment:
      # AWS Configuration (Read from .env file)
      AWS_REGION: "${AWS_REGION}"
      S3_BUCKET: "${S3_BUCKET}"
      
      # Database Configuration (Postgres/RDS)
      POSTGRES_HOST: "${POSTGRES_HOST}"
      POSTGRES_PORT: "${POSTGRES_PORT}"
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
      
      SECRET_KEY: "${SECRET_KEY}"